@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
}

input {
  outline: none;
}

.heading h3 {
  position: relative;
  margin-bottom: 1rem;
  /* color: red; */
}

.heading h3::after {
  content: "";
  background-color: white;
  height: 5%;
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30%;
  border-radius: 10px;
}
